/*-------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;/* con questa proprietà possiamo definire l'altezza e lunghezza dell'intero box, non sono del contenuto*/
}
html{
  background-color: #fff;
  color: #555;
  font-family: 'Karla', 'Arial',sans-serif; /* se non si ha la connessione internet si visualizzerà il font Arial, se il font arial non è presente sul pc verrà visualizzato  il sans-serif*/
  font-size: 18px;
  font-weight: 400;
  text-rendering: optimizeLegibility; /* viene sceltà la qualità del font rispetto alla velocità*/
}

/*-------------------------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*-------------------------------------------------------------------------*/

.row{
  max-width: 1140px; /* l'unico parametro definito come larghezza assoluta*/
  margin: 0 auto;
}
section{
  padding: 80px 0;
}
.box{
  padding: 1%;
}
/*-------------------------------------------------------------------------*/
/*HEADINGS*/
/*-------------------------------------------------------------------------*/
h1,h2,h3{
  font-weight: 300; /* di solito il tag h1 ha il bold predefinito*/
  text-transform: uppercase; /* mi fa tutta la stringa maiscola*/
}
h1{
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 250%; /*utile per il responsive design, voglio che sia 200% rispetto al font impostato nel tag html. Lavoreremo quindi solo sul font globale nel caso in cui volessimo vare dei cmabiamenti*/
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2{
font-size: 180%;
word-spacing: 2px;
text-align: center;
margin-bottom: 30px;
letter-spacing: 1px;
}
h3{
font-size: 110%;
margin-bottom: 15px;
}
h2::after{
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

/*-----PARAGRAPHS------*/
.long-copy{
  line-height: 145%; /* usare una percentuale tra 120 e 145*/
  width: 70%; /*facendo cosi non sarà più centrato.Però posso distribuire il rimanente 30% in 15% margin left e 15% margin right*/
margin-left: 15%;
}
.box p{
  font-size: 90%;
  line-height: 145%;
}
/*-----ICONS------*/
.icon-big{
  font-size: 350%; /* siccome le icone sono dei font, posso ingrandirle attraverso questa proprietà*/
  display: block;
  color: #e67e22;
  margin-bottom: 10px;

}
/*-------------------------------------------------------------------------*/
/*BUTTONS*/
/*-------------------------------------------------------------------------*/
.btn:link,
.btn:visited{ /*stile comune dei 2 bottoni*/
  display: inline-block;/* in modo da poterli dare le proprietà margin e padding*/
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px; /* in modo che mi faccia i bordi del bottone rotondi*/
  transition: background-color 0.2, border 0.2, color 0.2;/*proprietà del css 3. c'è la transizione da un colore ad un altro. In pratica quando passo il mouse sopra un link il colore non cambia instantaneamente ma in un periodo di 0.2 ms*/
}
.btn-full:link,
.btn-full:visited{
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn-active {
  background-color: #cf6d17;
}
/*NOTA: bottoni o link in generale in css possono avere diversi stati:
1. link (come l'elemento appare di default), la specifico con le pseudo-classi.
btn:link{ }
2. visited (come l'elemento deve apparire dove che il link è stato visitato)
btn:visited{ }
 3. active (quando clicco sul elemento)

 4. hover (quando passiamo col mouse sopra l'elemento )*/
 .btn-full:hover,
 .btn-full:active{
   border: 1px solid #cf6d17;
 }
 .btn-ghost:hover,
 .btn:active{
   border: 1px solid #e67e22;
   color: #fff;
 }
 /*-------------------------------------------------------------------------*/
 /*HEADER*/
 /*-------------------------------------------------------------------------*/

 header{
   background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) ), url(img/hero.jpg); /* linear gradient mi setta un colore sopra l'immagine in modo da far notare meglio la scritta sopra l'immagine. Ha bisogno di 2 colori, e parte dall'alto verso il basso*/
   background-size: cover;
   background-position: center;
   height: 100vh;
 }
 .hero-text-box{
   position: absolute; /* serve per centrarla verticalemnte e orizzontalmente*/
   width: 1140px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); /* trasla il div metà della sua larghezza e della sua altezza in su e a sinistra*/
 }
 .logo{
   height: 100px;
   width: auto;
   float: left;
   margin-top: 20px;
 }
.main-nav{
  float: right;
  /*siccome è un ul devo sbarazzarmi del punto*/
  list-style: none;
  margin-top: 55px;
}
.main-nav li{
  /*devo cambiare il modo in cui sono visualizzati. Prima erano block element adesso voglio che siano inline-block in modo che occupi solo lo spazio del contenuto */
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%; /* in html ho definito il font size 20 px, la dimensione del  font non va mai cambiata, devo solo lavorare con le percentuali rispetto a quella dimensione di default*/
  border-bottom:  2px solid  transparent;
  transition: border-bottom 0.2s;
  font-weight: 700;

}
.main-nav li a:hover,
.main-nav li a:active{
  border-bottom:  2px solid  #e67e22;
}
/*-------------------------------------------------------------------------*/
/*MEALS*/
/*-------------------------------------------------------------------------*/
.meals-showcase{
  list-style: none;
  width: 100%; /* voglio che la larghezza sia tutta la pagina del browser*/
}
.meals-showcase li{
  display: block;
  float: left;
  width: 
}
